a[fullscreen] i:last-child {
    display: none
}
a[fullscreen=true] i:first-child {
    display: none
}
a[fullscreen=true] i:last-child {
    display: unset
}

:not(:root):fullscreen::backdrop {
    background: none;
}
